*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.main {
  padding: 3rem;
}

.decklist {
  position: fixed;
  background-color: white;
  /* height: 100vh;; */
}

.decklist__down {
  right:0;
  /* font-size: 2.7rem; */
}

.decklist_down_textarea {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}

.decklist_down_button {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}

.card {
  height:14rem;
  width: 10rem;
}

.card_box {
  display: inline-block;
}

.player_area{
  width: 1990px;
  margin:auto;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 0.2fr 1.5fr;
}

.player_area_1 {
  grid-area: 1 / 1 / 2 / 5;

  display: grid;
  grid-gap: 5px 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  background-color: green;
}
/* grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
.exile_box_1 {
  background-color: grey;
  grid-area: 1 / 4 / 1 / 5;
 }

.graveyard_box_1 {
  background-color: grey;
  grid-area: 2 / 4 / 4 / 5;
}

.library_box_1 {
  background-color: grey;
  grid-area: 4 / 4 / 6 / 5;
}

.hand_1 {
  background-color: grey;
  grid-area: 1 / 1 / 3 / 4;
}

.main_area_1 {
  background-color: grey;
  grid-area: 3 / 1 / 5 / 4;
}

.status_box_1 {
  background-color: grey;
  grid-area: 5 / 1 / 6 / 4;
}

.status_global_box {
  background-color: green;
  grid-area: 2 / 1 / 3 / 5;
}

.player_area_2 {
  grid-area: 3/ 1 / 4 / 5;

  display: grid;
  grid-gap: 5px 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  background-color: red;
}

/* grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
.exile_box_2 {
  background-color: grey;
  grid-area: 5 / 4 / 6 / 5;
 }

.graveyard_box_2 {
  background-color: grey;
  grid-area: 3 / 4 / 5 / 5;
}

.library_box_2 {
  background-color: grey;
  grid-area: 1 / 4 / 3 / 5;
}

.hand_2 {
  background-color: grey;
  grid-area: 4 / 1 / 6 / 4;
}

.main_area_2 {
  background-color: grey;
  grid-area: 2 / 1 / 4 / 4;
}

.status_box_2 {
  background-color: grey;
  grid-area: 1 / 1 / 2 / 4;
}
